* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../img/bg.avif);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 80vh;
  color: black;
  margin: auto;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  background-color: lightblue;
  width: 80%;
  height: 80%;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
}

h3 {
  color: black;
}

input {
  margin-top: 10px;
  border: 1px solid black;
  width: 220px;
  height: 25px;
  border-radius: 50px;
}

button {
  margin-top: 15px;
  cursor: pointer;
  background-color: gray;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid black;
}

p {
  color: gray;
}

.profile {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-image: url(../img/login.jpg);
  background-size: cover;
  background-position: center;
  border: 3px solid black;
}
a {
  text-decoration: none;
  color: black;
}
